* {
    box-sizing: border-box;
  }

  
  body {
    display: flex;
    font-weight: 400;
    font-family: sans-serif;
    height: auto;
    width: auto;
    
    /* background-color: rgba(0, 0, 0, 0.6); */
  }

  .main {
    overflow: hidden;
    height: calc(100vh + 100%);
    padding: 50px;
  }
  .background {
    background-image:url('https://cdn.pixabay.com/photo/2021/08/30/21/29/port-6587129_960_720.jpg');

    height: auto;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: repeat-y;
  }
  .tummennus2 { 
    margin: 0px 150px 0px 150px;
    height: calc(100vh + 100%);
    background-color: rgba(0, 0, 0, 0.6);
    border-left-style: solid;
    border-right-style: solid;
  }
  .tummennus3 {
    background-color: rgba(0, 0, 0, 0.6);
    border-color: white;
    border-top-style: solid;
    margin: 0px;
  }


  body, html, .App, #root, .outer {
    width: 100%;
    height: 100%;
  }
  
  .navbar-light {
    background-color: #008fa2; 
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  }
  
  .outer {
    display: flex;
    flex-direction: column;
    text-align: left;
    overflow: hidden;
    height: calc(100vh + 100%);
    padding: 50px;
    min-height: calc(100vh);
  }
  
  .inner {
    width: 450px;
    margin: auto ;
   /* background-image: url('https://cdn.pixabay.com/photo/2016/11/22/19/17/buildings-1850129_960_720.jpg'); */
    background: #ffffff; 
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
  }

  .inner2 {
    width: 900px;
    margin: auto;
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
  }
  
  .outer .form-control:focus {
    border-color: #167bff;
    box-shadow: none;
  }

  .outer h3 {
    
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
  }
  
  .custom-control-label {
    font-weight: 400;
  }
  
  .forgot-password,
  .forgot-password a {
    text-align: right;
    font-size: 13px;
    padding-top: 10px;
    color: #030303;
    margin: 0;
  }
  
  .forgot-password a {
    color: #167bff;
  }

  .nav-item {
    color: darkgreen;
  }

  .item {
    width: -moz-fit-content;
    width: fit-content;
    background-color: #ffffff;
    padding: 5px;
    margin: auto ;
  }